name: CI
on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Load Dependencies
      run: |
        python3 -m venv py
        ./py/bin/python -m pip install ivpm
        ./py/bin/ivpm update -a
    - name: Run Tests
      run: |
        export PYTHONPATH=$(pwd)/src
        ./packages/python/bin/python -m pip install pytest pytest-json-ctrf
        ./packages/python/bin/python -m pytest tests --ctrf ctrf-report.json
      if: always()
    - name: Publish Test Results
      uses: ctrf-io/github-test-reporter@v1
      with:
        report-path: 'ctrf-report.json'
      if: always()

  build_wheel:
    name: Build wheel
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set version
      run: |
        sed -i -e "s/version = \"\([0-9][0-9\.]*\)\"/version = \"\1.${GITHUB_RUN_ID}\"/" pyproject.toml
    - name: Build wheel
      run: |
        python3 -m pip install build
        python3 -m build --wheel
    - uses: actions/upload-artifact@v4
      with:
        name: wheel
        path: ./dist/*.whl

  build_docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Docs
      run: |
        python3 -m venv py
        ./py/bin/python -m pip install sphinx
        ./py/bin/sphinx-build -M html ./docs build
        touch build/html/.nojekyll
    - name: Publish Docs
      if: startsWith(github.ref, 'refs/heads/main')
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: build/html

  publish:
    needs: [test, build_wheel]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/heads/main')
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: wheel
        path: dist
    - name: Publish to PyPi
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        python3 -m pip install twine
        python3 -m twine upload dist/*.whl