name: CI
on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Load Dependencies
      run: |
        python3 -m venv py
        ./py/bin/python -m pip install ivpm
        ./py/bin/ivpm update -a
    - name: Run Tests
      run: |
        export PYTHONPATH=$(pwd)/src
        ./packages/python/bin/python -m pip install pytest pytest-json-ctrf
        ./packages/python/bin/python -m pytest tests --ctrf ctrf-report.json
      if: always()
    - name: Publish Test Results
      uses: ctrf-io/github-test-reporter@v1
      with:
        report-path: 'ctrf-report.json'
      if: always()

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
        CIBW_ENVIRONMENT_LINUX: "CMAKE_BUILD_TOOL=make"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v4
    - name: Set version
      shell: bash
      run: |
        sed -i.bak -e "s/version = \"\([0-9][0-9\.]*\)\"/version = \"\1.${GITHUB_RUN_ID}\"/" pyproject.toml
    - name: Install Linux deps
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get install cmake ninja-build -y
    - name: Build wheels
      uses: pypa/cibuildwheel@v2.23.3
    - uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: ./wheelhouse/*.whl

  build_docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Docs
      run: |
        python3 -m venv py
        ./py/bin/python -m pip install sphinx
        ./py/bin/sphinx-build -M html ./docs build
        touch build/html/.nojekyll
    - name: Publish Docs
      if: startsWith(github.ref, 'refs/heads/main')
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: build/html

  publish:
    needs: [test, build_wheels]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/heads/main')
    steps:
    - uses: actions/download-artifact@v4
      with:
        pattern: cibw-wheels-*
        path: dist
        merge-multiple: true
    - name: Publish to PyPi
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        python3 -m pip install twine
        python3 -m twine upload dist/*.whl